.message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /*flex-direction: column;*/
    position: relative;
}

.imageAndText {
    display: flex;
    align-items: center;
    background-color: #F5F7FB;
    border-radius: 12px;
    padding: 10px;
    margin-left: 80px;
    max-width: 80%;
    position: relative;
}

.imageAndText img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    left: -60px;

}

.text {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.text:after {
    border: solid transparent;
    content: " ";
    height: 30px;
    width: 10px;
    position: absolute;
    top:-50px;
    left: -18px;
    pointer-events: none;
    border-bottom-color: #F5F7FB;
    border-width: 10px;
    margin-left: -10px;
}

.name {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    color: #000;
}

.messageText {
    font-size: 1em;
    color: #333;
    white-space: normal;
}

.time {
    font-size: 0.8em;
    font-weight: 600;
    color: #888;
    margin-left: 58px;
    margin-top: 5px;
    position: absolute;
    top: 60px;
    left: -20px;
}