.App {
    --header_height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;


}

.hw {
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
}