.App {
    --header_height: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   flex-direction: column;
    padding-top: 200px;
}

.hw {
    border-top: solid 1px;
    border-bottom: solid 1px;
    width: 80vw;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
}